<form [formGroup]="userForm" (submit)="onSubmit()">
    <div>
        <label >name</label>
        <input type="text" formControlName="name" name="name">
    </div>
    <div>
        <label>user Name</label>
        <input type="text" formControlName="username" name="username">
    </div>
    <div>
        <label>Email</label>
        <input type="text" formControlName="email" name="email">
    </div>
    <div>
        <label>phone</label>
        <input type="number" formControlName="phone" name="phone">
    </div>
    <div>
        <label>Website</label>
        <input type="text" formControlName="website" name="website">
    </div>
    <div>
        <label >address</label>
        <input type="text" formControlName="address">
    </div>
    <div>
        <button type="submit">Add user</button>
    </div>
    <input type="text" class="new">
</form>